<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <form method="post" action="/posts" class="bg-white p-6 rounded-2xl shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold mb-5 text-center">Create New Post</h2>
        <input type="text" required placeholder="Enter username" name="username" class="w-full border p-2 rounded-lg mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400">
        <br>
        <br>
        <textarea required placeholder="Enter post content" name="content" class="w-full border p-2 rounded-lg mb-4 h-32 resize-none focus:outline-none focus:ring-2 focus:ring-blue-400"></textarea>
        <br>
        <button class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition">
            Add post</button>
    </form>
</body>
</html>